<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Update</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="background"></div>
    <header>
        <div class="inner">
            <div class="logo">
                <a href="#"><img th:src="@{img/blog.png}" alt=""></a>
                <h2>ようこそ～</h2>
				<p th:text="${accountName}" class="accountName"></p>
            </div>
            <ul class="list">
                <li></li>
                <li><a th:href="@{/blog/list}">Home</a></li>
				<li><a th:href="@{/blog/register}">BlogRegister</a></li>
				<li><a th:href="@{/account/logout}">Logout</a></li>
            </ul>
			<div class="list">
				<a href=""><img th:src="@{/img/username.png}" alt=""></a>
			</div>
        </div>
    </header>
    <main>
        <section>
            <div class="welcome-box">
                <h2>ブログ編集</h2>
            </div>
            <form th:action="@{/blog/edit/process}"  method="post" enctype="multipart/form-data">
                <div class="register-section-details">
                    <div class="register-section-details_flex">
                        <div>タイトル</div>
                        <input type="text" name="title" id="title" th:placeholder="${blog.title}">
                    </div>
                    <div class="register-section-details_flex">
                        <div>カテゴリ</div>
                        <input type="text" name="categoryName" id="categoryName" th:placeholder="${blog.categoryName}">
                    </div>
                    <div class="image-upload-transparent">
                        <div>画像</div>
                        <input type="file" name="blogImage" class="file-input">
                    </div>
                    <div class="register-section-details_flex">
                        <div>本文</div>
                        <textarea name="content" th:placeholder="${blog.content}"></textarea>
                    </div>
                    <div class="register-section-details_flex">
						<input type="hidden" name="blogId" th:value="${blog.blogId}">
                        <button class="blog_register_but" name="action" value="update">更新</button>
                        <button class="blog_register_but" name="action" value="delete">削除</button>
                        <button class="blog_register_but" onclick="location.href='/blog/list';" type="button">戻る</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div>
            <small>&copy; 2025 LLL</small>
        </div>
    </footer>

</body>

</html>